# ==========================================================
# APP
# ==========================================================

APP_NAME=AI Gateway Platform
APP_ENV=development
DEBUG=True

# ==========================================================
# JWT
# ==========================================================

JWT_SECRET=CHANGE_ME
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# ==========================================================
# REDIS
# ==========================================================

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# ==========================================================
# POSTGRES
# ==========================================================

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ai_gateway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

# ==========================================================
# QDRANT
# ==========================================================

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=prompt_cache

# ==========================================================
# KAFKA
# ==========================================================

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
RESPONSE_TOPIC=response-generated

# ==========================================================
# OLLAMA
# ==========================================================

OLLAMA_BASE_URL=http://localhost:11434

LLAMA_MODEL=llama3:latest
PHI3_MODEL=phi3:latest

# ==========================================================
# RATE LIMITER
# ==========================================================

RATE_LIMIT=5
RATE_LIMIT_WINDOW=60

# ==========================================================
# MONITORING
# ==========================================================

TEMPO_ENDPOINT=http://localhost:4317

LOG_LEVEL=INFO